.tags {
    margin-top: 5px;
    min-height: 40px;
}

.tag {
    border: 1px solid #ddd;
    background: #485fc7;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}
